ul.menu{
  margin: 0px;
  padding: 0px;
  list-style: none;
  height:40px;
  background-color: gray;
  border-radius: 10px;
}

ul.menu>li{
  float: left;
  margin: 0px 15px;
  position: relative;
  
}

ul.menu>li>a:hover{
  color: yellow;
  font-weight: bold;
}

ul.menu>li>a{
  text-decoration: none;
  display: block;
  line-height: 50px;
  
}

.sub-menu{
  margin: 0px;
  padding: 0px;
  background-color: orange;
  list-style: none;
  position: absolute;
  width: 60px;
  display: none;
}

ul.sub-menu>li>a{
  display: block;
  line-height: 40px;
  text-decoration: none;
}

a:link{
  color: white;
}

a:visited{
  color: red;
}
